@import url("https://fonts.googleapis.com/css");

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    color: #111;
    display: flex;
    flex-direction: column;
}

header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2vw;
}

.menu {
    display: flex;
    gap: 3vw;
    font-size: 1.3vw;
}

.menu a {
    color: #111;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.texto-principal {
    font-weight: 500;
    font-size: 3vw;
    width: 40%;
    margin-top: 4vw;
}

.imagem-predios {
    position: relative;
}

.imagem-predios img {
    border-radius: 2vw;
    position: absolute;
    left: -21.5vw;
    top: 2vw;
    width: 42.96vw;
    height: 28.64vw;
    border-radius: 2vw;
}

.container {
    width: 62.5vw;
    height: 23.02vw;
    background-color: #768859;
    border-radius: 2vw;
    margin-top: 10vw;
}

.descricao {
    font-size: 2.1vw;
    color: #666;
    width: 55%;
    margin: 3vw auto;
    margin-bottom: 3vw;     
}

.btn-saibamais {
    height: 3vw;
    width: 10vw;
    background: #0A1F44;
    color: #ffffff;
    border: none;
    border-radius: 0.8vh;
    font-size: 1.2vw;
    font-weight: 600;
    cursor: pointer;
}

.btn-saibamais:hover {
    color: #eaeae6;
    transition: 0.3s ease-in-out;
    box-shadow: 1px 1px 10px #666;
}

.section2 {
    width: 85vh;
    text-align: center;
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.titulo-secao {
    font-size: 3vh;
    font-weight: bold;
    color: #0A1F44;
    margin-bottom: 2vh;
}

.texto-secao {
    font-size: 1.8vh;
    width: 65vh;
    margin: 0 auto 5vh auto;
    line-height: 2.6vh;
    color: #333;
}

.titulo-secao-membros {
    font-size: 3vh;
    font-weight: bold;
    color: #6E8757;
    margin-bottom: 4vh;
}

.membros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4vh;
    justify-items: center;
}

.membro {
    text-align: center;
}

.foto-membro {
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.foto-membro img {
    height: 100%;
    width: 100%;
}

.foto-membro:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}