* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    color: #111;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    height: 4vw;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    background-color: #002645;
}

.logoLogin img {
    width: 10vw;
    margin-top: 1vw;
}

.menu {
    display: flex;
    gap: 3vw;
    font-size: 1.2vw;
    margin-left: auto;
    align-items: center;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    transform: translateY(-0.15vw);
    transition: 0.4s ease-in-out;
    color: #768859;
}

main {
    display: flex;
    flex: 1;
}

.section-contato {
    display: flex;
    width: 100%;
    background-color: #768859;
    justify-content: center;
    align-items: center;
}


.form-contato {
    display: flex;
    flex-direction: column;
    width: 36vw;
    gap: 2vw;
}

.tituloContato {
    color: white;
    font-size: 1.8vw;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5vw;
}

.subtituloContato {
    color: #f1f1f1;
    font-size: 1.4vw;
    text-align: center;
}


.tituloCampo {
    color: white;
    font-size: 1.4vw;
    font-weight: 800;
    margin-bottom: 0.4vw;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

.campoInput {
    width: 100%;
    height: 2.8vw;
    background-color: white;
    border-radius: 0.6vw;
    border: 0.1vw solid #d9d9d9;
    display: flex;
    align-items: center;
    padding: 0 1vw;
    transition: 0.3s;
}

.campoInput:hover {
    border-color: #768859;
}

.campoInput:focus-within {
    border-color: #002b57;
    box-shadow: 0 0 0.3vw rgba(0, 0, 0, 0.2);
}

.campoInput input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-family: "Poppins", sans-serif;
    font-size: 1.1vw;
    color: #333;
}

.campoInput input::placeholder {
    color: #999;
}

.campoMensagem {
    width: 100%;
    height: 10vw;
    background-color: white;
    border-radius: 0.6vw;
    border: 0.1vw solid #d9d9d9;
    padding: 1vw
    transition: 0.3s;
}

.campoMensagem:hover {
    border-color: #768859;
}

.campoMensagem:focus-within {
    border-color: #002b57;
    box-shadow: 0 0 0.3vw rgba(0, 0, 0, 0.2);
}

.campoMensagem textarea {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
    background: transparent;
    font-family: "Poppins", sans-serif;
    font-size: 1.1vw;
}

.campoMensagem textarea::placeholder {
    color: #999;
}


.botaoContato {
    height: 3vw;
    border: none;
    border-radius: 0.6vw;
    background-color: #002b57;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1.2vw;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.botaoContato:hover {
    background-color: #001e3d;
}

#msgCorretoNome, #msgCorretoEmail, #msgCorretoMensagem {
    font-size: 1vw;
    outline: none;
    font-weight: 200;
    box-shadow: none;
    text-shadow: none;
}

#enviadoSucesso {
    font-size: 1.2vw;
    font-weight: 700;
    text-align: center;
}