body {
    min-height: 100vh;
    background-color: #F1F1F1;
    display: flex;
    font-family: 'DM Sans', sans-serif;
}

aside {
    background-color: #FFFFFF;
    width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

aside .logo {
    width: 50%;
}

aside .logo img {
    width: 100%;
}

aside .btns {
    display: flex;
    flex-direction: column;
}

aside .btns ul {
    display: flex;
    flex-direction: column;
    gap: 1.4vw
}

aside .btns a {
    font-size: 1.4vw;
    color: #010101;
}

.nomeCargo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.nomeCargo .perfil {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nomeCargo .perfil img {
    border-radius: 4vw;
    width: 100%;
}

.nomeCargo .username .nome {
    font-size: 1.4vw;
    color: #010101;
}

.nomeCargo .username .cargo {
    font-size: 1vw;
    color: #010101;
}

.sair button {
    padding: 0.5vw;
    width: 5vw;
    color: #f1f1f1;
    background-color: #002645;
    font-size: 1.4vw;
    border-radius: 0.6vw;
    border: none;
    cursor: pointer;
}

main {
    margin-left: 15%;
    padding: 20px;
    flex: 1;
    min-height: 100vh;
}

main #tituloFiltros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main #tituloFiltros .titulo h2 {
    font-size: 2vw;
    letter-spacing: 0.3vw;
    color: #002645;
}

main #tituloFiltros .filtros {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

main #tituloFiltros .filtros select {
    width: 5vw;
    text-align: center;
    background-color: #D9D9D9;
    font-size: 0.8vw;
    color: #002645;
    border-radius: 0.4vw;
}

main #tituloFiltros .filtros .filtro {
    text-align: center;
}

main #tituloFiltros .filtros .filtro p {
    color: #002645;
    font-size: 1vw;
}

main #infosCidades {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
    gap: 2vw;
}

main #infosCidades .scoreCidade {
    background-color: #FBFBFD;
    border: 1px solid #002645;
    padding: 1vw;
    border-radius: 1vw;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    height: 11vw;
}

main #infosCidades .scoreCidade .notaCidade {
    display: flex;
    gap: 2vw;
    align-items: center;
}

main #infosCidades .scoreCidade .notaCidade .notaBarra .notaInfra p {
    font-size: 1vw;
    font-weight: 600;
}

main #infosCidades .scoreCidade .tituloScore h2 {
    color: #002645;
    font-size: 1.2vw;
}

main #infosCidades .scoreCidade .notaCidade .notaGrafico {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
}

main #infosCidades .scoreCidade .notaCidade .notaGrafico p {
    font-size: 1vw;
}

main #infosCidades .scoreCidade .notaCidade .notaGrafico #circulo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #002645;
    border-radius: 50%;
    height: 2.5vw;
    width: 2.5vw;
    padding: 2vw;
    font-size: 1vw;
}

main #infosCidades .scoreCidade .notaCidade .notaBarra {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #infosCidades .scoreCidade .notaCidade .notaBarra p {
    color: #002645;
    font-size: 0.8vw;
}

main #infosCidades .notaCidade .potencialCidade .potencial p {
    color: #002645;
    font-size: 1vw;
}

main #infosCidades .notaCidade .potencialCidade .areasPotenciais ul {
    text-align: center;
}

main #infosCidades .notaCidade .potencialCidade .areasPotenciais ul li {
    color: #002645;
    font-size: 0.8vw;
}

main #infosCidades .fatoresCriticos {
    border: 1px solid #002645;
    border-radius: 1vw;
    width: 30%;
    padding: 0.7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EBE7E9;
    height: 11vw;
}

main #infosCidades .fatoresCriticos .tituloFatores p {
    color: #002645;
    font-size: 1.2vw;
    font-weight: 600;
}

main #infosCidades .fatoresCriticos .listaFatores {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

main #infosCidades .fatoresCriticos .listaFatores .icone {
    font-size: 1.5vw;
}

main #infosCidades .fatoresCriticos .listaFatores .deficitSaneamento .icone {
    color: #ff0000;
}

main #infosCidades .fatoresCriticos .listaFatores .riscoInundacao .icone {
    color: #bdbd3783;
}

main #infosCidades .fatoresCriticos .listaFatores .crescimentoPopulacional .icone {
    color: #057405;
}

main #infosCidades .fatoresCriticos .listaFatores .porcentagem {
    font-size: 1.4vw;
    font-weight: 600;
    color: #002645;
}

main #infosCidades .fatoresCriticos .listaFatores .tituloDeficit,
main #infosCidades .fatoresCriticos .listaFatores .tituloRisco,
main #infosCidades .fatoresCriticos .listaFatores .tituloCrescimento {
    font-size: 1vw;
    color: #002645;
}

main #titulo {
    font-size: 1.6vw;
    text-align: center;
    margin-top: 2vw;
}

main #infoSaneamentoGeral {
    border: 1px solid #010101;
    width: 80%;
    margin-left: 8vw;
    height: 22vw;
    border-radius: 1vw;
    display: flex;
}

main #infoSaneamentoGeral .containerAgua {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main #infoSaneamentoGeral .containerAgua .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    text-align: center;
}

main #infoSaneamentoGeral .containerAgua .header .aguaPotavel,
main #infoSaneamentoGeral .containerAgua .header .esgoto,
main #infoSaneamentoGeral .containerAgua .header .residuos,
main #infoSaneamentoGeral .containerAgua .header .drenagem {
    width: 25%;
    height: 3vw;
    border-right: 1px solid #010101;
    border-bottom: 1px solid #010101;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1vw;
    cursor: pointer;
}

main #infoSaneamentoGeral .containerAgua .header .aguaPotavel:hover,
main #infoSaneamentoGeral .containerAgua .header .esgoto:hover,
main #infoSaneamentoGeral .containerAgua .header .residuos:hover,
main #infoSaneamentoGeral .containerAgua .header .drenagem:hover {
    cursor: pointer;
    background-color: #0375d393;
}

main #infoSaneamentoGeral .containerAgua .header .aguaPotavel {
    background-color: #00466E;
    border-radius: 1vw 0 0 0;
}

main #infoSaneamentoGeral .containerAgua .header .aguaPotavel p {
    text-decoration: underline;
    color: #f1f1f1;
}

main #infoSaneamentoGeral .containerAgua .header .esgoto {
    background-color: #EBF1FB;;
}

main #infoSaneamentoGeral .containerAgua .header .residuos {
    background-color: #FDF1E0;
}

main #infoSaneamentoGeral .containerAgua .header .drenagem {
    background-color: #F1F3ED;
    border-radius: 0 1vw 0 0;
}

main #infoSaneamentoGeral .containerAgua .main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 20vw;
}

main #infoSaneamentoGeral .containerAgua .main .percentualAcessoAgua {
    background-color: #E7F2FC;
    height: 8vw;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9vw;
    border-radius: 1vw;
    color: #002645;
    padding: 0.5vw;
    border: 1px solid #010101;
}

main #infoSaneamentoGeral .containerAgua .main .percentualAcessoAgua p {
    text-align: center;
    font-size: 1.2vw;
}

main #infoSaneamentoGeral .containerAgua .main .percentualAcessoAgua .semAcesso p {
    font-size: 1vw;
}

main #infoSaneamentoGeral .containerAgua .main .percentualAcessoAgua span {
    font-weight: 600;
}

main #infoSaneamentoGeral .containerAgua .main .grafico {
    width: 50%;
    height: 80%;
    position: relative;
}

main #infoSaneamentoGeral .containerAgua .main .grafico canvas {
    width: 30vw;
    height: 15vw;
}

main #infoSaneamentoGeral .containerAgua .main .evolucaoAnual {
    border: 1px solid #002645;
    border-radius: 1vw;
    padding: 1vw;
    border-radius: 1vw;
    height: 8vw;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.9vw;
    color: #002645
}

main #infoSaneamentoGeral .containerAgua .main .evolucaoAnual p {
    text-align: center;
    font-size: 1.2vw;
}


main #infoSaneamentoGeral .containerAgua .main .evolucaoAnual .percentual {
    display: flex;
    gap: 1vw;
    align-items: center;
}

main #infoSaneamentoGeral .containerAgua .main .evolucaoAnual .percentual i {
    font-size: 2.3vw;
}

main #infoSaneamentoGeral .containerAgua .main .evolucaoAnual .percentual p {
    font-size: 1.6vw;
    font-weight: 600;
}

main #infoSaneamentoGeral .containerAgua .main .evolucaoAnual .percentual .aumento {
    background-color: #002645;
    color: #f1f1f1;
    padding: 0.4vw;
    border-radius: 0.7vw;
}

.risco {
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-content: space-between;
}

.infosJuntas {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

#evolucao {
    text-align: center;
    font-size: 1.4vw;
    color: #002645;
    font-weight: 600;
}