@import url("https://fonts.googleapis.com/css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    color: #111;
    display: flex;
    flex-direction: column;
}

header {
    height: 4vw;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    background-color: #002645;
}

.logoLogin img {
    width: 10vw;
}

.menu {
    display: flex;
    gap: 3vw;
    font-size: 1.2vw;
    margin-left: auto;
    align-items: center;
}

.menu a {
    color: #f1f1f1;
    text-decoration: none;
}

.menu a:hover {
    transform: translateY(-0.15vw);
    transition: 0.4s ease-in-out;
    color: #768859;
}

main {
    display: flex;
    flex: 1;
}

.section-redefinir {
    display: flex;
    width: 50%;
    background-color: #023966;
    justify-content: center;
    align-items: center;
    
}

.form-redefinir {
    display: flex;
    flex-direction: column;
}

.tituloCampo {
    color: #f1f1f1;
    font-size: 2vw;
    font-weight: 800;
    margin-bottom: 0.3vw;
}

.campoInput {
    width: 20vw;
    height: 2.2vw;
    background-color: #d9d9d9;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    padding: 0 0.6vw;
    margin-bottom: 0.8vw;
}

.campoInput input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
    color: #111111;
}

.botaoRedefinir {
    justify-items: center;
    width: 50%;
    height: 2.8vw;
    border: none;
    border-radius: 1vw;
    background-color: #bcbcbc;
    color: #111111;
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
    font-weight: 700;
    cursor: pointer;
    margin-top: 3vw; 
    margin-bottom: 0.4vw;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.botaoRedefinir:hover {
    box-shadow: 1px 1px 20px #494848;
    transition: 0.4s ease-in-out;
}

.RedefinirTexto {
    text-align: center;
    color: #f2f2f2;
    font-size: 1vw;
}

.RedefinirTexto a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.RedefinirTexto .textoRedifinir:hover {
    transform: translateY(-0.15vw);
    transition: 0.4s ease-in-out;
    color: black;
}

.bannerLogo {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerLogo img {
    width: 35vw;
}

#msgCorretoNome, #msgCorretoEmail, #msgCorretoCnpj, #msgCorretoSenha {
    color: #c11616;
    font-size: 0.6;
    margin: 0;
    padding: 0;
    margin-left: 1vw;
    margin-top: -0.5vw;
}

.menu-hamburguer {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  width: 28px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.menu-hamburguer span {
  display: block;
  width: 100%;
  height: 3px;
  background: #f1f1f1;
  border-radius: 3px;
  transition: all 0.3s ease;
}

#fecharMenu {
    display: none;
}

@media (max-width: 480px) {
    header {
        height: 80px;
        padding: 0 4vw;
        position: relative;
    }

    .logoLogin img {
        width: 28vw;
    }

    .menu {
        display: none;
    }

    .menu-hamburguer {
        display: flex;
        position: absolute;
        right: 4vw;
        top: 50%;
        transform: translateY(-50%);
    }

    .menu.aberto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8vw;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #002645;
    }

    .menu.aberto a {
        color: #f1f1f1;
        font-size: 6vw;
        text-decoration: none;
    }

    #fecharMenu {
        display: block;
        position: absolute;
        top: 4vw;
        right: 5vw;
        background: none;
        border: none;
        color: #f1f1f1;
        font-size: 7vw;
        cursor: pointer;
    }

    main {
        flex-direction: column;
        display: flex;
        justify-content: center;
    }

    .section-redefinir {
        width: 100%;
        padding: 10vw 0;
        border-radius: 0 0 3vw 3vw;
        order: 1;
        background-color: #ffffff;
    }

    .tituloCampo {
        font-size: 5.5vw;
        margin-bottom: 1.5vw;
        color: #002b57;
    }

    .campoInput {
        width: 72vw;
        height: 11vw;
        border-radius: 3vw;
        padding: 0 3vw;
        margin-bottom: 3vw;
    }

    .campoInput input {
        font-size: 3.8vw;
    }

    .botaoRedefinir {
        width: 55%;
        height: 11vw;
        border-radius: 3vw;
        font-size: 3.8vw;
        margin-top: 6vw;
        margin-bottom: 2vw;
    }

    .RedefinirTexto {
        font-size: 3.2vw;
    }

    .bannerLogo {
        display: none
    }

    #msgCorretoNome,
    #msgCorretoEmail,
    #msgCorretoCnpj,
    #msgCorretoSenha {
        font-size: 2.8vw;
        margin-left: 3vw;
        margin-top: -1.5vw;
    }

    footer {
        height: 80px;
        font-size: 3.2vw;
        gap: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 5vw;
        background-color: #002645;
    }
}