@media screen and (max-width: 480px) {

    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    header {
        height: 80px;
        font-size: 5vw;
        width: 100%;
        background-color: #002645;
        justify-content: space-between;
    }

    .menu {
        display: none;
    }

    .menu a {
        color: #f1f1f1;
    }

    .loginCadastro {
        display: none;
    }   

    main {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section1 {
        gap: 6vw;
    }

    .texto-principal {
        font-size: 5vw;
        width: 85%; 
    }

    .container {
        width: 80%;
        height: 25vw;
    }

    .imagem-predios img {
        width: 70vw;
        height: 30vw;
        left: -35vw;
        top: 11vw;
    }

    .descricao {
        font-size: 3.5vw;
        width: 90%;
    }

    .btn-saibamais {
        height: 9vw;
        width: 27vw;
        font-size: 3vw;
        padding: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav a.ativo {
        border-bottom: 1px solid #f1f1f1;
    }

    footer {
        height: 120px;
    }

    .coluna span {
        font-size: 2vw;
    }

    .menu-hamburguer {
        display: flex;
        margin-right: 4vw;
    }

    .menu.aberto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8vw;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #002645;
        z-index: 99;
        position: fixed;
    }

    .menu.aberto a {
        color: #f1f1f1;
        font-size: 6vw;
        text-decoration: none;
    }

    .menu.aberto a.ativo {
        border-bottom: 1px solid #f1f1f1;
    }

    #login {
        display: block;
    }

    #fecharMenu {
        display: block;
        background: none;
        border: none;
        font-size: 5vw;
        color: #f1f1f1;
        position: absolute;
        top: 4vw;
        right: 5vw;
    }

    #logo {
        display: block;
        width: 30%;
    }

    #logo {
        margin-left: 5vw;
    }
} 