@media (max-width: 480px) {

    header {
        height: 80px;
        padding: 0 1vw;
        justify-content: end;
        position: relative;
        margin-top: 5vw;
    }

    .menu {
        display: none;
    }

    .loginCadastro {
        display: none;
    }

    .section2 {
        margin-top: 8vw;
        margin-bottom: 8vw;
    }

    .sobre {
        height: auto;
        gap: 3vw;
        padding: 6vw 0;
    }

    .titulo-secao {
        font-size: 7vw;
        margin-bottom: 2vw;
    }

    .texto-secao {
        font-size: 4vw;
        width: 85%;
        margin-bottom: 4vw;
    }

    .servico {
        height: auto;
        padding: 8vw 0;
        gap: 4vw;
        margin-bottom: 6vw;
    }

    .servico h2 {
        font-size: 7vw;
    }

    .servico p {
        font-size: 4vw;
        width: 85%;
    }

    .titulo-secao-membros {
        font-size: 6vw;
        margin-bottom: 4vw;
    }

    .membros {
        grid-template-columns: repeat(2, 1fr);
        gap: 6vw;
        padding: 0 6vw;
        font-size: 3.8vw;
    }

    .foto-membro {
        height: 20vw;
        width: 20vw;
    }

    .nome-membro {
        margin-top: 1.5vw;
        font-size: 3.8vw;
    }

    .menu-hamburguer {
        display: flex;
        margin-right: 4vw;
    }

    .menu.aberto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8vw;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #002645;
        z-index: 99;
    }

    .menu.aberto a {
        color: #000000;
        font-size: 6vw;
        text-decoration: none;
    }

    #login {
        display: block;
    }

    .menu-hamburguer span {
        background: #111111;
    }

    .menu.aberto a {
        color: #f1f1f1;
    }

    .menu.aberto a.ativo {
        border-bottom: 1px solid #f1f1f1;
    }

    #fecharMenu {
        display: block;
        background: none;
        border: none;
        font-size: 5vw;
        color: #f1f1f1;
        position: absolute;
        top: 4vw;
        right: 5vw;
    }

    footer {
        height: 14vw;
        font-size: 3.8vw;
        gap: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 6vw;
    }
}
