@import url("https://fonts.googleapis.com/css");

html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    color: #111;
    display: flex;
    flex-direction: column;
}

header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.menu {
    display: flex;
    gap: 3vw;
    font-size: 1.3vw;
}

.menu a {
    color: #111;
    text-decoration: none;
    margin-top: 1vw;
}

.menu a:hover {
    transform: translateY(-2px);
    transition: 0.4s ease-in-out;
    color: #768859;
}

.loginCadastro {
    position: absolute;
    right: 3vw;
    display: flex;
    gap: 2vw;
    font-size: 1.3vw;
}

.loginCadastro a {
    text-decoration: none;
    color: #111;
    margin-top: 1vw;
}

.loginCadastro a:hover {
    transform: translateY(-2px);
    transition: 0.4s ease-in-out;
    color: #768859;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #6E8757;
}

.texto-principal {
    font-weight: 500;
    font-size: 3vw;
    width: 60%;
    margin-top: 5vw;
}

#cor-diferente-verde {
    color: #768859;
}

#cor-diferente-azul {
    color: #0f326e;
}

.imagem-predios {
    position: relative;
}

.imagem-predios img {
    border-radius: 2vw;
    position: absolute;
    left: -25vw;
    top: 7vw;
    width: 50vw;
    height: 28.64vw;
    border-radius: 2vw;
}

.container {
    width: 62.5vw;
    height: 23.02vw;
    background-color: #768859;
    border-radius: 2vw;
    margin-top: 15vw;
}

.descricao {
    font-size: 2.1vw;
    color: #666;
    width: 55%;
    margin: 3vw auto;
    margin-bottom: 3vw;
}

.btn-saibamais {
    height: 3vw;
    width: 11vw;
    background: #0A1F44;
    color: #ffffff;
    border: none;
    border-radius: 0.8vh;
    font-size: 1.2vw;
    font-weight: 600;
    cursor: pointer;
}

.btn-saibamais:hover {
    color: #eaeae6;
    transition: 0.3s ease-in-out;
    box-shadow: 1px 1px 10px #666;
}

.btn-saibamais:active {
    color: #eaeae6;
    transition: 0.3s ease-in-out;
    background-color: hsl(0, 0%, 50%);
}

.section2 {
    text-align: center;
    margin-bottom: 10vh;
    margin-top: 10vw;
}

.titulo-secao {
    font-size: 3vw;
    font-weight: bold;
    color: #0A1F44;
    margin-bottom: 2vh;
}

.sobre {
    height: 20vw;
    gap: 2vw;
    display: flex;
    flex-direction: column;
}

.texto-secao {
    font-size: 1.6vw;
    width: 60%;
    margin: 0 auto 5vh auto;
    color: #333;
}

.servico {
    background-color: #0A1F44;
    height: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-bottom: 5vh;
}

.servico h2 {
    color: #ffffff;
    font-size: 3vw;
}

.servico p {
    color: #ffffff;
    font-size: 1.6vw;
    width: 70%;
}

.titulo-secao-membros {
    font-size: 2vw;
    font-weight: bold;
    color: #6E8757;
    margin-bottom: 4vh;
}

.membros {
    display: grid;
    grid-template-columns: repeat(3, 0.2fr);
    gap: 4vh;
    justify-content: center;
    font-size: 1.5vw;
}

.membro {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto-membro {
    height: 13vh;
    width: 14vh;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.foto-membro img {
    height: 100%;
    width: 100%;
}

.foto-membro:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}